@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body{
    margin:0px;
    padding:0px;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    background-color:#1c1c1c;
}

.webglCanvas{
    margin:0px;
    padding:0px;
    z-index:0;
}

.pointer
{
    cursor:pointer;
}

button
{
    vertical-align:bottom;
    width:30px;
    height:30px;
    display:inline-block;
    cursor:pointer;
    margin: 0px 2px;
    background-size: cover;
    border: #8f8f8f solid 2px;
    box-shadow: 2px 2px 10px #000000;
    background-color: #474141;
    border-radius: 100%;
}

button:active
{
    box-shadow: 0px 0px 5px #000000;
    background-position: 100% 0%;
    border-color: #6c6c6c;
}

button:hover
{
    background-position:100% 0%;
}

h2
{
    letter-spacing: 2px;
    margin: 0 5px;
    color: #8f8f8f;
    padding: 3px 30px 3px 30px;
    display: inline;
    background-color: #1c1c1c;
    border: 2px solid #202020;
    border-radius: 19px;
}

p
{
    font-size: 16px;
    font-weight:600;
    margin:5px 0;
}