
.confirm {
	padding:10px 10px 10px 10px;
    background-color:black;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	position:fixed;
	width:400px;
	left:50%;
	top:200px;
	margin-left:-200px;
	opacity:0.85;
	z-index:999999;
	display:none;
    text-align: center;
    color:white;
}
