<!DOCTYPE html>
<html>
    <head>
        <title>Texture test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="@routes.Assets.at("style/common.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/menubars.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/confirm.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unitstatusicons.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/resourceLoader.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/TextureContainer.css")" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/lib/jquery.ba-throttle-debounce.min.js")"></script>
        <script src="@routes.Assets.at("js/requestAnimFrame.js")"></script>
        <script src="@routes.Assets.at("js/ResourceLoader.js")"></script>
        <script src="@routes.Assets.at("js/Loadable.js")"></script>
        <script src="@routes.Assets.at("js/Tile.js")"></script>
        <script src="@routes.Assets.at("js/GameTile.js")"></script>
        <script src="@routes.Assets.at("js/TileGrid.js")"></script>
        <script src="@routes.Assets.at("js/Texture.js")"></script>
        <script src="@routes.Assets.at("js/Three.js")"></script>
        <script src="@routes.Assets.at("js/Graphics.js")"></script>
        <script src="@routes.Assets.at("js/Scrolling.js")"></script>
        <script src="@routes.Assets.at("js/Zooming.js")"></script>
        <script src="@routes.Assets.at("js/Landscaping.js")"></script>
        <script src="@routes.Assets.at("js/SideSlideMenu.js")"></script>
        <script src="@routes.Assets.at("js/TileElement.js")"></script>
        <script src="@routes.Assets.at("js/ImageManipulation.js")"></script>
        <script src="@routes.Assets.at("js/WaterLayer.js")"></script>
        <script src="@routes.Assets.at("js/Grid.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/editor/UIEvents.js")"></script>
        <script src="@routes.Assets.at("js/ContourShadowDefinitions.js")"></script>
        <script src="@routes.Assets.at("js/confirm.js")"></script>
        <script src="@routes.Assets.at("js/SaveLoad.js")"></script>
        <script src="@routes.Assets.at("js/MathLib.js")"></script>
        <script src="@routes.Assets.at("js/Interface.js")"></script>
        <script src="@routes.Assets.at("js/Coordinates.js")"></script>
        <script src="@routes.Assets.at("js/animation/AnimationHandler.js")"></script>
        <script src="@routes.Assets.at("js/events/EventDispatcher.js")"></script>
        <script src="@routes.Assets.at("js/events/EventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/Event.js")"></script>

        <script>
            function dynamicResourcesLoaded()
            {
                window.UIEventDispatcher = new Dispatcher();
                window.Graphics = new Graphics(UIEventDispatcher);

                window.textureMenu = new SideSlideMenuTextures('right', 0, 'top:100px', 'auto', window.availableTextures);
                window.brushMenu = new SideSlideMenuBrush('left', 0, 'top:100px', 'auto');
                window.brushMenu = new SideSlideMenuBrushSize('left', 0, 'top:180px', 'auto');
                window.tileElementMenu = new SideSlideMenuTileElements('right', 0, 'top:350px', 'auto', window.availableTileElements);


                Graphics.init();
                Graphics.animate();
                WaterLayer.init();
                Grid.init();

                var canvas = jQuery(".webglCanvas");

                canvas.on("click", TileGrid.onGridClicked);

                var scrolling = new Scrolling(canvas, UIEventDispatcher);
                var zooming = new Zooming(canvas, UIEventDispatcher);

                var tileSize = 20; // this doesn't belong here
                var coordinasService = new Coordinates(tileSize, TileGrid.tileRowCount);

                window.interface = new Interface(coordinasService, TileGrid, canvas, UIEventDispatcher);
                window.interface.init();
                scrolling.init();

                ResourceLoader.remove();
            }


            function staticResourcesLoaded()
            {
                TileGrid.width = 100;
                TileGrid.height = 100;
                TileGrid.createDefaultGameTiles();
                ResourceLoader.loadTiles(dynamicResourcesLoaded);
            }

        </script>

    </head>
    <body oncontextmenu="return false;">
		<table class="menubar top">
			<tr>
				<td class="left">

				</td>
				<td class="center">
					<h2>MAP EDITOR</h2>
				</td>
				<td class="right">
					<button id="loadicon" style="background-image:url(/assets/resource/loadicon.png)">
					<button id="saveicon" style="background-image:url(/assets/resource/saveicon.png)">
					<button id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)">
				</td>
			</tr>
		</table>
        <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
        <div id="texturecontainer"></div>

        <table class="menubar bottom">
            <tr>
                <td class="left">

                </td>
                <td class="center">
                </td>
                <td class="right">
                </td>
            </tr>
        </table>
    </body>
</html>
