<!DOCTYPE html>
<html>
    <head>
        <title>Editor</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="@routes.Assets.at("style/common.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/menubars.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/confirm.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/loadmapmenu.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unitstatusicons.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/resourceLoader.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/TextureContainer.css")" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/lib/jquery.ba-throttle-debounce.min.js")"></script>
        <script src="@routes.Assets.at("js/lib/angular/angular.min.js")"></script>
        <script src="@routes.Assets.at("js/requestAnimFrame.js")"></script>
        <script src="@routes.Assets.at("js/ResourceLoader.js")"></script>
        <script src="@routes.Assets.at("js/Loadable.js")"></script>
        <script src="@routes.Assets.at("js/Tile.js")"></script>
        <script src="@routes.Assets.at("js/GameTile.js")"></script>
        <script src="@routes.Assets.at("js/TileGrid.js")"></script>
        <script src="@routes.Assets.at("js/Texture.js")"></script>
        <script src="@routes.Assets.at("js/Three.js")"></script>
        <script src="@routes.Assets.at("js/Graphics.js")"></script>
        <script src="@routes.Assets.at("js/Scrolling.js")"></script>
        <script src="@routes.Assets.at("js/Zooming.js")"></script>
        <script src="@routes.Assets.at("js/Landscaping.js")"></script>
        <script src="@routes.Assets.at("js/SideSlideMenu.js")"></script>
        <script src="@routes.Assets.at("js/TileElement.js")"></script>
        <script src="@routes.Assets.at("js/ImageManipulation.js")"></script>
        <script src="@routes.Assets.at("js/WaterLayer.js")"></script>
        <script src="@routes.Assets.at("js/Grid.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/ContourShadowDefinitions.js")"></script>
        <script src="@routes.Assets.at("js/Confirm.js")"></script>
        <script src="@routes.Assets.at("js/SaveLoad.js")"></script>
        <script src="@routes.Assets.at("js/MathLib.js")"></script>
        <script src="@routes.Assets.at("js/Interface.js")"></script>
        <script src="@routes.Assets.at("js/Coordinates.js")"></script>
        <script src="@routes.Assets.at("js/animation/AnimationHandler.js")"></script>
        <script src="@routes.Assets.at("js/events/EventDispatcher.js")"></script>
        <script src="@routes.Assets.at("js/events/EventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/Event.js")"></script>
        <script src="@routes.Assets.at("js/button/Button.js")"></script>
        <script src="@routes.Assets.at("js/menu/LoadMenu.js")"></script>
        <script src="@routes.Assets.at("js/menu/SaveMenu.js")"></script>

        <script src="@routes.Assets.at("js/ng/run.js")"></script>
        <script src="@routes.Assets.at("js/ng/services/brushMenuService.js")"></script>
        <script src="@routes.Assets.at("js/ng/directives/slideMenu.js")"></script>

        <script>

            function constructControllers()
            {
                window.UIEventDispatcher = new Dispatcher();
                window.Graphics = new Graphics(UIEventDispatcher);
                window.landscaping = new Landscaping(UIEventDispatcher, TileGrid);
                window.saveLoad = new SaveLoad(UIEventDispatcher);
            }

            function init()
            {

                Graphics.init();
                Graphics.animate();
                WaterLayer.init();
                Grid.init();

                var canvas = jQuery(".webglCanvas");

                window.textureMenu = new SideSlideMenuTextures('right', 0, 'top:60px', 'auto', window.availableTextures, landscaping);
                window.brushMenu = new SideSlideMenuBrush('left', 0, 'top:60px', 'auto', landscaping);
                window.brushMenu = new SideSlideMenuBrushSize('left', 0, 'top:140px', 'auto', landscaping);
                window.tileElementMenu = new SideSlideMenuTileElements('right', 0, 'top:350px', 'auto', window.availableTileElements, landscaping);

                var scrolling = new Scrolling(canvas, UIEventDispatcher);
                var zooming = new Zooming(canvas, UIEventDispatcher);

                var tileSize = 20; // this doesn't belong here
                var coordinasService = new Coordinates(tileSize, TileGrid.tileRowCount);

                window.interface = new Interface(coordinasService, TileGrid, canvas, UIEventDispatcher);
                window.interface.init();

                var topMenuRight = $('.menubar.top .right');

                var loadIcon = new Button(topMenuRight, 'loadicon.png', UIEventDispatcher, new Event("player", "LoadMapEvent"));
                var saveIcon = new Button(topMenuRight, 'saveicon.png', UIEventDispatcher, new Event("player", "SaveMapEvent"));

                scrolling.init();
            }


            function staticResourcesLoaded()
            {
                constructControllers();

                TileGrid.width = 100;
                TileGrid.height = 100;

                var hash = '';
                if (location.hash)
                {
                    hash = location.hash.replace(/#/, '');
                    hash = parseInt(hash);
                }

                if ($.isNumeric(hash) && hash % 1 === 0)
                {
                    window.saveLoad.loadMap(hash);
                }
                else
                {
                    TileGrid.createDefaultGameTiles();
                    ResourceLoader.loadTiles(function(){ResourceLoader.remove()});
                }

                init();
            }
        </script>

    </head>
    <body oncontextmenu="return false;" ng-app="attero">
		<table class="menubar top">
			<tr>
				<td class="left">

				</td>
				<td class="center">
					<h2>MAP EDITOR</h2>
				</td>
				<td class="right">

				</td>
			</tr>
		</table>
        <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
        <div id="texturecontainer"></div>

        <div slide-menu service="brush" dock="left" columns="2" top="300"></div>

         <table class="menubar bottom">
            <tr>
                <td class="left">

                </td>
                <td class="center">
                </td>
                <td class="right">
                </td>
            </tr>
        </table>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39126112-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
