@(userid: Int, gameid: Long, activeUserId: Int, activeUserName: String, turn: Int,  map:String, units:String, tileDefinition:String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="@routes.Assets.at("style/common.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/menubars.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/confirm.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unitstatusicons.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/resourceLoader.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/TextureContainer.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unittooltip.css")" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/lib/jquery.ba-throttle-debounce.min.js")"></script>
        <script src="@routes.Assets.at("js/requestAnimFrame.js")"></script>
        <script src="@routes.Assets.at("js/ResourceLoader.js")"></script>
        <script src="@routes.Assets.at("js/Loadable.js")"></script>
        <script src="@routes.Assets.at("js/Tile.js")"></script>
        <script src="@routes.Assets.at("js/GameTile.js")"></script>
        <script src="@routes.Assets.at("js/TileGrid.js")"></script>
        <script src="@routes.Assets.at("js/TileTexture.js")"></script>
        <script src="@routes.Assets.at("js/three.min.js")"></script>
        <script src="@routes.Assets.at("js/Graphics.js")"></script>
        <script src="@routes.Assets.at("js/Scrolling.js")"></script>
        <script src="@routes.Assets.at("js/Zooming.js")"></script>
        <script src="@routes.Assets.at("js/Landscaping.js")"></script>
        <script src="@routes.Assets.at("js/SideSlideMenu.js")"></script>
        <script src="@routes.Assets.at("js/TileElement.js")"></script>
        <script src="@routes.Assets.at("js/ImageManipulation.js")"></script>
        <script src="@routes.Assets.at("js/WaterLayer.js")"></script>
        <script src="@routes.Assets.at("js/Grid.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/game/UIEvents.js")"></script>
        <script src="@routes.Assets.at("js/ContourShadowDefinitions.js")"></script>
        <script src="@routes.Assets.at("js/confirm.js")"></script>
        <script src="@routes.Assets.at("js/SaveLoad.js")"></script>
        <script src="@routes.Assets.at("js/Unit.js")"></script>
        <script src="@routes.Assets.at("js/UnitIcon.js")"></script>
        <script src="@routes.Assets.at("js/MathLib.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/LineOfSight.js")"></script>
        <script src="@routes.Assets.at("js/LOSRaytrace.js")"></script>
        <script src="@routes.Assets.at("js/UnitManager.js")"></script>
        <script src="@routes.Assets.at("js/ServerConnection.js")"></script>
        <script src="@routes.Assets.at("js/MoveOrder.js")"></script>
        <script src="@routes.Assets.at("js/animation/AnimationHandler.js")"></script>
        <script src="@routes.Assets.at("js/animation/UnitMoveAnimation.js")"></script>
        <script src="@routes.Assets.at("js/animation/UnitAppearAnimation.js")"></script>
        <script src="@routes.Assets.at("js/animation/UnitDisappearAnimation.js")"></script>
        <script src="@routes.Assets.at("js/events/EventDispatcher.js")"></script>
        <script src="@routes.Assets.at("js/events/EventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/Event.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveEvent.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveInterruptEvent.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveInterruptEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/EnemySpottedEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/ChangeTurnEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/ChangeTurnEvent.js")"></script>
        <script src="@routes.Assets.at("js/events/EnemyDisappearEventListener.js")"></script>
        <script src="@routes.Assets.at("js/Interface.js")"></script>
        <script src="@routes.Assets.at("js/Coordinates.js")"></script>
        <script src="@routes.Assets.at("js/UnitTooltip.js")"></script>
        <script src="@routes.Assets.at("js/tileEffects/TileEffect.js")"></script>
        <script src="@routes.Assets.at("js/repository/TileRepository.js")"></script>
        <script src="@routes.Assets.at("js/repository/TileTrait.js")"></script>
        <script src="@routes.Assets.at("js/button/Button.js")"></script>
        <script src="@routes.Assets.at("js/GameState.js")"></script>

        <script>

            window.TileRepository = new TileRepository("@tileDefinition", ResourceLoader);

            function constructControllers()
            {
                window.UIEventDispatcher = new Dispatcher();
                window.Graphics = new Graphics(UIEventDispatcher);
                window.landscaping = new Landscaping(UIEventDispatcher, TileGrid);
                window.UnitManager = new UnitManager(UIEventDispatcher);
                UIEventDispatcher.attach(new ChangeTurnEventListener());
            }

            function init()
            {
                Graphics.init();
                Graphics.animate();
                WaterLayer.init();
                Grid.init();
                FogOfWar.init();

                var canvas = jQuery(".webglCanvas");

                canvas.on("click", TileGrid.onGridClicked);

                var scrolling = new Scrolling(canvas, window.UIEventDispatcher);
                var zooming = new Zooming(canvas, window.UIEventDispatcher);

                window.gameState = new GameState(
                    @userid,
                    @activeUserId,
                    "@activeUserName",
                    @turn);

                window.GameEventDispatcher = new Dispatcher();

                GameEventDispatcher.attach(new MoveServerMessageEventLister());
                GameEventDispatcher.attach(new UnitPositionListener());
                GameEventDispatcher.attach(new UnitMoveAnimationListener(scrolling));
                GameEventDispatcher.attach(new MoveInterruptEventLister());
                GameEventDispatcher.attach(new UnitAppearAnimationListener(scrolling));
                GameEventDispatcher.attach(new ChangeTurnEventListener(window.gameState, GameEventDispatcher));
                GameEventDispatcher.attach(new EnemyDisappearAnimationListener());

                var tileSize = 20; // this doesn't belong here
                var coordinasService = new Coordinates(tileSize, TileGrid.getMapSizeInGameTiles().width);

                window.interface = new Interface(window.gameState, coordinasService, TileGrid, canvas, window.UIEventDispatcher);
                window.interface.init();

                var loadIcon = new Button(
                    $('.menubar.top .center'),
                    'turnicon.png',
                     UIEventDispatcher,
                    new Event("player", "ChangeTurnEvent"));

                scrolling.init();

                window.UnitManager.createFromString("@units");

                ServerConnection.connect("@routes.Application.gameserver(userid, gameid).webSocketURL()");

                ResourceLoader.remove();
            }


            function staticResourcesLoaded()
            {
                constructControllers();

                console.log("static loaded");
                TileGrid.width = 201;
                TileGrid.height = 201;
                var mapString = "@map";
                mapString = mapString.replace(/&quot;/g, '"');

                TileGrid.createFromJson(JSON.parse(mapString));
                console.log("tiles created");
                ResourceLoader.loadTiles(init);
            }

            jQuery(function(){

                window.textureMasks =
                {
                    1:  ResourceLoader.loadImage("/assets/textures/texturemask.png"),
                    2:  ResourceLoader.loadImage("/assets/textures/shadowBrushes.png")
                };

                window.unitTilesets =
                {
                    "ge_tanks": ResourceLoader.loadImage("/assets/units/stug_III.png"),
                    "ge_infantry": ResourceLoader.loadImage("/assets/units/ge_infantry.png")
                }

                ResourceLoader.run(staticResourcesLoaded);
            });

        </script>

        <script id="fogvertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fogfragmentShader2" type="x-shader/x-fragment">
            uniform float xStep;
            uniform float yStep;
            uniform sampler2D tilemap;

            varying vec2 vUv;

            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.b == 0.0) { discard; }

                float oAlpha = tile.b;
                float alpha = tile.b;

                gl_FragColor = vec4(0.0, 0.0, 0.0, alpha);

            }
        </script>


        <script id="fogfragmentShader" type="x-shader/x-fragment">
            uniform sampler2D fogtexture;
            uniform float tilewidth;
            uniform float tileheight;
            uniform sampler2D tilemap;
            uniform float opacity;

            varying vec2 vUv;

            float texcount = 4.0;
            float texsize = 0.25;


            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.x == 1.0 && tile.y == 1.0) { discard; }

                float x = vUv.x/tilewidth;
                x -= floor(x);
                x /= texcount;
                x += tile.x*255.0*texsize;

                float y = vUv.y / tileheight;
                y -= floor(y);
                y /= texcount;
                y += tile.y*255.0*texsize;

                vec2 v = vec2(x, y);
                gl_FragColor = texture2D(fogtexture, v);
            }
        </script>

        <script id="vertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fragmentShader" type="x-shader/x-fragment">
            uniform sampler2D texture;

            varying vec2 vUv;

            void main() {
                vec4 color = texture2D(texture, vUv);
                //color.a *= 0.5;
                gl_FragColor = color;
                //gl_FragColor = texture2D(tilemap, vUv);
            }
        </script>

    </head>
    <body oncontextmenu="return false;">
        <table class="menubar top">
            <tr>
                <td class="left">

                </td>
                <td class="center">
                    <h2>
                        <span id="turn"></span>
                        <span id="playername"></span>
                    </h2>
                </td>
                <td class="right">
                    <button id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)">
                </td>
            </tr>
        </table>
        <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
        <div id="texturecontainer"></div>
        <table class="menubar bottom">
            <tr>
                <td class="left">
                    <h3>
                        STUG III - Rupert Schüder
                    </h3>
                </td>
                <td class="center">
                    <span class="container">
                        <div class="icon statusicon moving"></div>
                        <div class="icon statusicon mediumsupression"></div>
                    </span>
                </td>
                <td class="right">
                    <button id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)">
                </td>
            </tr>
        </table>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-39126112-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

    </body>
</html>
