@(userid: Int, gameid: Long, map:String, units:String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>RUIN</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="@routes.Assets.at("style/common.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/menubars.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/confirm.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unitstatusicons.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/resourceLoader.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/TextureContainer.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/unittooltip.css")" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/lib/jquery.ba-throttle-debounce.min.js")"></script>
        <script src="@routes.Assets.at("js/requestAnimFrame.js")"></script>
        <script src="@routes.Assets.at("js/ResourceLoader.js")"></script>
        <script src="@routes.Assets.at("js/Loadable.js")"></script>
        <script src="@routes.Assets.at("js/Tile.js")"></script>
        <script src="@routes.Assets.at("js/GameTile.js")"></script>
        <script src="@routes.Assets.at("js/TileGrid.js")"></script>
        <script src="@routes.Assets.at("js/Texture.js")"></script>
        <script src="@routes.Assets.at("js/three.min.js")"></script>
        <script src="@routes.Assets.at("js/Graphics.js")"></script>
        <script src="@routes.Assets.at("js/Scrolling.js")"></script>
        <script src="@routes.Assets.at("js/MouseWheel.js")"></script>
        <script src="@routes.Assets.at("js/Zooming.js")"></script>
        <script src="@routes.Assets.at("js/Landscaping.js")"></script>
        <script src="@routes.Assets.at("js/SideSlideMenu.js")"></script>
        <script src="@routes.Assets.at("js/TileElement.js")"></script>
        <script src="@routes.Assets.at("js/ImageManipulation.js")"></script>
        <script src="@routes.Assets.at("js/WaterLayer.js")"></script>
        <script src="@routes.Assets.at("js/Grid.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/game/UIEvents.js")"></script>
        <script src="@routes.Assets.at("js/ContourShadowDefinitions.js")"></script>
        <script src="@routes.Assets.at("js/confirm.js")"></script>
        <script src="@routes.Assets.at("js/SaveLoad.js")"></script>
        <script src="@routes.Assets.at("js/Unit.js")"></script>
        <script src="@routes.Assets.at("js/UnitIcon.js")"></script>
        <script src="@routes.Assets.at("js/MathLib.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/LineOfSight.js")"></script>
        <script src="@routes.Assets.at("js/Raytrace.js")"></script>
        <script src="@routes.Assets.at("js/UnitManager.js")"></script>
        <script src="@routes.Assets.at("js/ServerConnection.js")"></script>
        <script src="@routes.Assets.at("js/MoveOrder.js")"></script>
        <script src="@routes.Assets.at("js/animation/AnimationHandler.js")"></script>
        <script src="@routes.Assets.at("js/animation/UnitMoveAnimation.js")"></script>
        <script src="@routes.Assets.at("js/animation/UnitAppearAnimation.js")"></script>
        <script src="@routes.Assets.at("js/EventDispatcher.js")"></script>
        <script src="@routes.Assets.at("js/events/Event.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveEvent.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveInterruptEvent.js")"></script>
        <script src="@routes.Assets.at("js/events/MoveInterruptEventListener.js")"></script>
        <script src="@routes.Assets.at("js/events/EnemySpottedEventListener.js")"></script>
        <script src="@routes.Assets.at("js/Interface.js")"></script>
        <script src="@routes.Assets.at("js/Coordinates.js")"></script>
        <script src="@routes.Assets.at("js/UnitTooltip.js")"></script>

        <script>
            function dynamicResourcesLoaded()
            {
                window.playerid = @userid;

                Graphics.init();
                Graphics.animate();
                WaterLayer.init();
                Grid.init();
                FogOfWar.init();

                var canvas = jQuery(".webglCanvas");

                canvas.on("click", TileGrid.onGridClicked);

                canvas.on("mousedown", Scrolling.mousedown);
                canvas.on("mouseup", Scrolling.mouseup);
                canvas.on("mouseout", Scrolling.mouseout);
                canvas.on("mousemove", Scrolling.mousemove);

                EventDispatcher.attach(new MoveServerMessageEventLister());
                EventDispatcher.attach(new UnitPositionListener());
                EventDispatcher.attach(new UnitMoveAnimationListener());
                EventDispatcher.attach(new MoveInterruptEventLister());
                EventDispatcher.attach(new UnitAppearAnimationListener());

                var tileSize = 20; // this doesn't belong here
                var coordinasService = new Coordinates(tileSize, TileGrid.tileRowCount);

                window.interface = new Interface(coordinasService, TileGrid, canvas, Graphics);
                window.interface.init();

                MouseWheel.hookEvent(jQuery(".webglCanvas").get(0), 'mousewheel', Zooming.mouseWheel);

                UnitManager.createFromString("@units");

                ServerConnection.connect("@routes.Application.gameserver(userid, gameid).webSocketURL()");

                ResourceLoader.remove();
            }


            function staticResourcesLoaded()
            {
                console.log("static loaded");
                TileGrid.width = 100;
                TileGrid.height = 100;
                var mapString = "@map";
                mapString = mapString.replace(/&quot;/g, '"');

                TileGrid.createFromJson(JSON.parse(mapString));
                console.log("tiles created");
                ResourceLoader.loadTiles(dynamicResourcesLoaded);
            }

        </script>

        <script id="fogvertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fogfragmentShader2" type="x-shader/x-fragment">
            uniform float xStep;
            uniform float yStep;
            uniform sampler2D tilemap;

            varying vec2 vUv;

            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.b == 0.0) { discard; }

                float oAlpha = tile.b;
                float alpha = tile.b;

                gl_FragColor = vec4(0.0, 0.0, 0.0, alpha);

            }
        </script>


        <script id="fogfragmentShader" type="x-shader/x-fragment">
            uniform sampler2D fogtexture;
            uniform float tilewidth;
            uniform float tileheight;
            uniform sampler2D tilemap;
            uniform float opacity;

            varying vec2 vUv;

            float texcount = 4.0;
            float texsize = 0.25;


            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.x == 1.0 && tile.y == 1.0) { discard; }

                float x = vUv.x/tilewidth;
                x -= floor(x);
                x /= texcount;
                x += tile.x*255.0*texsize;

                float y = vUv.y / tileheight;
                y -= floor(y);
                y /= texcount;
                y += tile.y*255.0*texsize;

                vec2 v = vec2(x, y);
                gl_FragColor = texture2D(fogtexture, v);
            }
        </script>

        <script id="vertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fragmentShader" type="x-shader/x-fragment">
            uniform sampler2D texture;

            varying vec2 vUv;

            void main() {
                vec4 color = texture2D(texture, vUv);
                //color.a *= 0.5;
                gl_FragColor = color;
                //gl_FragColor = texture2D(tilemap, vUv);
            }
        </script>

    </head>
    <body oncontextmenu="return false;">
        <table class="menubar top">
            <tr>
                <td class="left">

                </td>
                <td class="center">
                    <h2>
                        TURN 4:
                        <span id="playername">Player name</span>
                    </h2>
                    <button id="turnsicon" style="background-image:url(/assets/resource/turnicon.png)">
                </td>
                <td class="right">
                    <button id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)">
                </td>
            </tr>
        </table>
        <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
        <div id="texturecontainer"></div>
        <table class="menubar bottom">
            <tr>
                <td class="left">
                    <h3>
                        STUG III - Rupert Schüder
                    </h3>
                </td>
                <td class="center">
                    <span class="container">
                        <div class="icon statusicon moving"></div>
                        <div class="icon statusicon mediumsupression"></div>
                    </span>
                </td>
                <td class="right">
                    <button id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)">
                </td>
            </tr>
        </table>
    </body>
</html>
