@(userid: Int, gameid: Long, map:String, units:String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
    <head>
        <title>Texture test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link href="@routes.Assets.at("style/tiles.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/confirm.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/resourceLoader.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("style/TextureContainer.css")" rel="stylesheet" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="@routes.Assets.at("js/requestAnimFrame.js")"></script>
        <script src="@routes.Assets.at("js/ResourceLoader.js")"></script>
        <script src="@routes.Assets.at("js/Loadable.js")"></script>
        <script src="@routes.Assets.at("js/Tile.js")"></script>
        <script src="@routes.Assets.at("js/GameTile.js")"></script>
        <script src="@routes.Assets.at("js/TileGrid.js")"></script>
        <script src="@routes.Assets.at("js/Texture.js")"></script>
        <script src="@routes.Assets.at("js/Three.js")"></script>
        <script src="@routes.Assets.at("js/Graphics.js")"></script>
        <script src="@routes.Assets.at("js/Scrolling.js")"></script>
        <script src="@routes.Assets.at("js/MouseWheel.js")"></script>
        <script src="@routes.Assets.at("js/Zooming.js")"></script>
        <script src="@routes.Assets.at("js/Landscaping.js")"></script>
        <script src="@routes.Assets.at("js/SideSlideMenu.js")"></script>
        <script src="@routes.Assets.at("js/TileElement.js")"></script>
        <script src="@routes.Assets.at("js/ImageManipulation.js")"></script>
        <script src="@routes.Assets.at("js/WaterLayer.js")"></script>
        <script src="@routes.Assets.at("js/Grid.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/game/UIEvents.js")"></script>
        <script src="@routes.Assets.at("js/ContourShadowDefinitions.js")"></script>
        <script src="@routes.Assets.at("js/confirm.js")"></script>
        <script src="@routes.Assets.at("js/SaveLoad.js")"></script>
        <script src="@routes.Assets.at("js/Unit.js")"></script>
        <script src="@routes.Assets.at("js/MathLib.js")"></script>
        <script src="@routes.Assets.at("js/FogOfWar.js")"></script>
        <script src="@routes.Assets.at("js/LineOfSight.js")"></script>
        <script src="@routes.Assets.at("js/Raytrace.js")"></script>
        <script src="@routes.Assets.at("js/UnitManager.js")"></script>
        <script src="@routes.Assets.at("js/ServerConnection.js")"></script>
        <script src="@routes.Assets.at("js/MoveOrder.js")"></script>

        <script>
            function dynamicResourcesLoaded()
            {

                Graphics.init();
                Graphics.animate();
                WaterLayer.init();
                Grid.init();
                FogOfWar.init();

                jQuery(".webglCanvas").on("click", TileGrid.onGridClicked);

                jQuery(".webglCanvas").on("mousedown", Scrolling.mousedown);
                jQuery(".webglCanvas").on("mouseup", Scrolling.mouseup);
                jQuery(".webglCanvas").on("mouseout", Scrolling.mouseout);
                jQuery(".webglCanvas").on("mousemove", Scrolling.mousemove);

                MouseWheel.hookEvent(jQuery(".webglCanvas").get(0), 'mousewheel', Zooming.mouseWheel);

                UnitManager.createFromString("@units");

                ServerConnection.connect("@routes.Application.gameserver(userid, gameid).webSocketURL()");

                ResourceLoader.remove();
            }


            function staticResourcesLoaded()
            {
                console.log("static loaded");
                TileGrid.width = 100;
                TileGrid.height = 100;
                var mapString = "@map";
                mapString = mapString.replace(/&quot;/g, '"');

                TileGrid.createFromJson(JSON.parse(mapString));
                console.log("tiles created");
                ResourceLoader.loadTiles(dynamicResourcesLoaded);
            }

        </script>

        <script id="fogvertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fogfragmentShader2" type="x-shader/x-fragment">
            uniform float xStep;
            uniform float yStep;
            uniform sampler2D tilemap;

            varying vec2 vUv;

            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.b == 0.0) { discard; }

                float oAlpha = tile.b;
                float alpha = tile.b;

                gl_FragColor = vec4(0.0, 0.0, 0.0, alpha);

            }
        </script>


        <script id="fogfragmentShader" type="x-shader/x-fragment">
            uniform sampler2D fogtexture;
            uniform float tilewidth;
            uniform float tileheight;
            uniform sampler2D tilemap;
            uniform float opacity;

            varying vec2 vUv;

            float texcount = 4.0;
            float texsize = 0.25;


            void main() {
                vec4 tile = texture2D(tilemap, vUv);

                if(tile.x == 1.0 && tile.y == 1.0) { discard; }

                float x = vUv.x/tilewidth;
                x -= floor(x);
                x /= texcount;
                x += tile.x*255.0*texsize;

                float y = vUv.y / tileheight;
                y -= floor(y);
                y /= texcount;
                y += tile.y*255.0*texsize;

                vec2 v = vec2(x, y);
                gl_FragColor = texture2D(fogtexture, v);
            }
        </script>

        <script id="vertexShader" type="x-shader/x-vertex">
            varying vec2 vUv;

            void main() {
                vUv = uv;

                gl_Position =   projectionMatrix *
                                modelViewMatrix *
                                vec4(position,1.0);
            }
        </script>

        <script id="fragmentShader" type="x-shader/x-fragment">
            uniform sampler2D texture;

            varying vec2 vUv;

            void main() {
                vec4 color = texture2D(texture, vUv);
                //color.a *= 0.5;
                gl_FragColor = color;
                //gl_FragColor = texture2D(tilemap, vUv);
            }
        </script>

    </head>
    <body oncontextmenu="return false;">
        <div class="menubar top">
            <table>
                <tr>
                    <td class="left">

                    </td>
                    <td class="center">
                        <h2>MAP EDITOR</h2><span id="mapname">Unnamed</span><span id="savestatus">(Unsaved)</span>
                    </td>
                    <td class="right">
                        <div class="icon" id="loadicon" style="background-image:url(/assets/resource/loadicon.png)"></div>
                        <div class="icon" id="saveicon" style="background-image:url(/assets/resource/saveicon.png)"></div>
                        <div class="icon" id="settingsicon" style="background-image:url(/assets/resource/menuicon.png)"></div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <canvas id="testcanvas" width="40" height="40" style="position:absolute;z-index:200;border:1px solid white;"></canvas> -->
        <div id="texturecontainer"></div>
        <div class="menubar bottom"></div>
    </body>
</html>
